<% if @review %>
    <h1> Comments for <%= @review.title %>
<% elsif @user %>
    <h1> Comments for <%= @user.username %>
<% else %>
    <h1> All Comments </h1>
<% end %>

<div><ul>
<% @comments.each do |c| %>
    <li><%= c.user.username%> - "<%= c.content %>" about this review: <strong><%= link_to c.review.title, review_path(c.review_id)%></strong></li>
<% end %>
</ul></div>