<h1> New Comment for <%=@review.title%>! </h1>

<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_for([@review, @comment]) do |f| %>
    <%= f.hidden_field :review_id %>
    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit %>
<% end %>